---
layout: page
title: Main
weight: 1.5
show: 1
---

<div class="col-7">
    <center>
  <table>
<tr><td style="padding:10px 90px 10px 0px">
      <img width="200px" class="img-rounded" src="https://avatars0.githubusercontent.com/u/35882?s=460&v=4" />
  </td><td style="padding:10px">
    <center>
    <h1>Alexander Rush </h1>
    <b>Associate Professor.</b> <br> <b>Cornell University</b> <br>
  CS+Cornell Tech (NYC), <a href="http://nlp.cornell.edu">Cornell NLP</a> <br>
    <span style="font-size:15px"><a href="mailto:arush@cornell.edu">[arush@cornell.edu]</a> <a href="cv/cv.comp.pdf">[cv]</a></span> </h1> <br>
<b>Researcher.</b> <b>Hugging Face</b> <br>
</center>

      </td>
  </tr>
  </table>
  </center>
<br>
</div>

<p style="font-size: 18px">
  My  <a href="papers/">research group</a> aims to build and improve
  language models. Methodologically, we study
  data-driven methods that combine deep-learning
  based models with probabilistic controls.
  We are interested in applications in improved scaling,
  efficiency, model reasoning, and long-context generation.
</p>

<p style="font-size: 18px">
  I am also interested in <a href="projects/">open-source</a> deep learning LLMs, and
  develop projects to make systems safer, more clear, and easier to
  use.
  I work part-time at <a href="http://huggingface.co">Hugging Face</a> and like to release various software
  projects to support NLP and DL research.
  I host a <a href="https://www.youtube.com/@srush_nlp">YouTube</a> channel with technical talks about topics I am interested in.
</p>


<h3> Current Research Areas </h3>
<p style="font-size: 18px">
<ul style="font-size: 18px">
  <li> Alternative architectures for deep learning on language . </li>
  <li> Methods for scaling open language models.  </li>
  <li> Efficient algorithms and hardware for language tasks.  </li>
  <li> Security in AI systems. </li>
</ul>
</p>

<h3> Recognition </h3>


<p style="font-size: 18px">
My group's work has been recognized with an NSF CAREER Award and a Sloan Fellowship. We have won paper awards at conferences for NLP, Hardware, and Visualization, as well as awards for best demonstrations for open-source software.
</p>

<h3>Selected Papers</h3>

<p style="font-size: 18px">
A selection of papers that represent my research interests and style.
</p>

<table>
{% for paper in site.data.papers.notable %}

  <tr><td style="padding:10px">
      {% if paper.image %}
      <a href="{{paper.pdf}}"><img width="150px" style="min-width:100px" src="{{paper.image}}"></a>
      {% else %}
      <a href="{{paper.pdf}}"><img height="75px" style="min-width:100px" src="https://avatar.tobi.sh/{{paper.title}}"></a>

      {% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{paper.pdf}}">
{{paper.title}}
</a><br>
{{paper.authors}}.<br>
{{paper.conference}} <br>

<br>

</td></tr>

{% endfor %}
</table>


<h3>Contact</h3>


<div class="paper-section">
Sasha Rush <a href="http://en.wikipedia.org/wiki/Sasha_(name)">in person</a>  <br>
arush at cornell.edu by email <br>
Office Hours Mon. 3-4 and <a href="mailto:arush@.edu">by appointment</a> <br>
</div>
<br>

<!--
<h3>Funding</h3>
      <p style="font-size: 18px">
        Our group has been generously supported through research grants and
        gifts from the following industrial institutions:
        <br>
        <br>
      </p>
          </div>
      <div class = "row">
      <center style="span">
        <img width="85px" style="display: inline" src="logos/oracle.png">
        <img width="85px" style="display: inline" src="logos/systranlogo.png">
        <img width="85px" style="display: inline" src="logos/google.jpg">
        <img width="85px" style="display: inline" src="logos/bloomberg.jpg">
        <img width="85px" style="display: inline" src="logos/microsoft.jpg">
        <img width="85px" style="display: inline" src="logos/aws.png">
        <img width="85px" style="display: inline" src="logos/fb.png">
        <img width="85px" style="display: inline" src="logos/intel.jpg">
      </center>
<br>
-->
