---
layout: page
title: Projects
weight: 2
permalink: /projects/
show: 1
---
<h3>Personal Projects</h3>


The main aspect I love about being a professor is mentoring students and developing their research careers. However, every once in a while I get swept up in an individual project. These are mostly non-research projects that I have personally developed.
<p>
  </p>

<table>
{% for project in site.data.projects.code %}
  <tr><td style="padding:10px">
{% if project.image %}<a class="paper" href="{{project.link}}"><img width="200px" src="{{project.image}}"> </a>{% endif %}
</td><td style="padding:10px">
<a class="paper" href="{{project.link}}">
{{project.title}}
</a><br>
{{project.abstract}}.<br>
{% if project.link %}<a class="icon pdf label label-info" href="{{project.link}}">github</a> {% endif %}
{% if project.data %}<a class="icon pdf label label-success" href="{{project.data}}">data</a> {% endif %}
{% if project.pdf %}<a class="icon pdf label label-info" href="{{project.pdf}}">pdf</a> {% endif %}
{% if project.models %}<a class="icon slides label label-warning" href="{{project.models}}">models</a>{% endif %}
{% if project.code %} <a class="icon slides label label-success label-warning" href="{{project.code}}">code</a>{% endif %}


<br>

</td></tr>

{% endfor %}
</table>


