<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <li>
            <a href="https://www.linkedin.com/in/zhen-zhou-a9153335/" target="_blank" style="display:inline-flex;align-items:center;">
              <span class="icon" style="display:inline-flex;align-items:center;">
                <svg viewBox="0 0 16 16" style="width:16px;height:16px;"><path fill="#828282" d="M13.632,0H2.368C1.06,0,0,1.06,0,2.368v11.264C0,14.94,1.06,16,2.368,16h11.264C14.94,16,16,14.94,16,13.632V2.368C16,1.06,14.94,0,13.632,0z M5.333,13.333H2.667V6h2.667V13.333z M4,4.804c-0.854,0-1.548-0.694-1.548-1.548S3.146,1.708,4,1.708s1.548,0.694,1.548,1.548S4.854,4.804,4,4.804z M13.333,13.333h-2.667V9.867c0-0.827-0.016-1.891-1.152-1.891c-1.152,0-1.328,0.9-1.328,1.829v3.528H5.519V6h2.56v0.973h0.036c0.356-0.675,1.227-1.387,2.524-1.387c2.7,0,3.2,1.778,3.2,4.09v3.657H13.333z"/></svg>
              </span>
              <span class="username">LinkedIn</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
